*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 14px;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.forgot-password-form__group {
  margin-bottom: 16px;
}

.forgot-password-form__bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
